@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin align {
    display: flex;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin justify {
    display: flex;
    justify-content: center;
}

@mixin input_and_button {
    border: none;
    border-radius: 0.5em;
    background-color: #606061;
    box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
    color: #f1f1f1;
    padding: 0.4em 0.7em;
}

html {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(219, 231, 240, 0.76);
    margin: 0;
    line-height: 1.2rem;
    font-size: 1.06rem;

    ::-webkit-scrollbar {
        height: 0.3em;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .reset_success {
        width: 100%;
        text-align: center;
        background-color: rgba(5, 131, 79, 0.781);
        padding: 0.7em;
    }

    #root {
        @include column();
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #555;

            &:hover {
                transform: scale(1.2);
            }
        }

        ul {
            padding-left: 0;
        }

        li {
            list-style: none;
        }

        h1,
        h2,
        h3 {
            color: #606061;
            margin: 0;
            line-height: 2.2rem;
        }

        textarea,
        input:not([type="submit"]) {
            @include input_and_button();
            resize: none;
        }

        button,
        input[type="submit"] {
            @include input_and_button();
            margin: 0.7em;
            width: fit-content;
            align-self: center;

            &:hover {
                transform: scale(1.02);
            }
        }

        label {
            padding: 0.3em 0;
        }

        img {
            margin-bottom: 0.3em;
        }

        span {
            color: rgb(112, 74, 3);
        }

        .messages>li {
            color: rgb(112, 74, 3);
            margin: 0.3em 0;
            font-size: 1.2rem;
            padding: 0;
        }

        .header {
            @include flex-between;
            align-items: center;
            background-color: rgb(139, 139, 139);
            position: sticky;
            top: 0;

            a {
                padding: 0.7em;
                color: #f1f1f1;
            }

            .navbar {
                @include flex-between;
                align-items: center;

                .menu_container {
                    background-color: rgb(184, 182, 182);

                    .profile__logo {
                        padding: 0.3em 1.5em 0 1.5em;
                        height: 2.3em;
                        width: 2.3em;
                    }
                }

                a {
                    padding: 0.7em;
                    color: #f1f1f1;
                }
            }
        }

        .custom_product__container {
            display: flex;
            flex-wrap: wrap;

            .pagination_controls {
                width: 100%;
                @include align();
                justify-content: space-between;

                .content_per_page_controller {
                    @include align();
                    width: 100%;

                    label {
                        margin-right: 0.5em;
                    }
                }

                span {
                    min-width: max-content;

                }
            }

            .custom_product {
                @include column();
                width: 30%;
                margin: 0.8em;
                background-color: #91a1c2;
                padding: 0.6em;
                border-radius: 0.8em;
                box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                cursor: pointer;

                &:hover {
                    transform: scale(1.03);
                }


                .custom_product_detail__container {
                    padding: 0 2.2em;

                    .custom_product_detail {
                        @include column();
                        justify-content: center;
                        margin: 0.5em;
                    }
                }

                .image__container--main {
                    @include column();

                    img {
                        width: 60%;
                        margin: auto;
                        margin-bottom: 0.5em;
                        border-radius: 0.8em;
                        box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);

                        &:hover {
                            transform: scale(1.06);
                        }
                    }
                }

                .controls {
                    @include justify();
                }
            }

            .filters {
                @include column();

                .price_range__container,
                .search_bar {
                    @include column();
                    margin: 1em;

                    label {
                        margin-right: 0.5em;
                        min-width: 20em;

                    }
                }

                .order_by_container {
                    @include flex-between();
                    padding: 0.5em 1em 2em 1em;

                    .order_by_element {
                        @include column();
                        padding: 0.4em;

                        select {
                            width: max-content;
                        }
                    }
                }
            }
        }

        .user_menu {
            background-color: rgb(139, 139, 139);
            position: absolute;
            right: 0em;
            top: 2.8em;
            width: 30%;

            ul {
                margin: 0;
                padding: 0.4em 0.7em;
                background-color: rgb(184, 182, 182);

                &:nth-child(even) {
                    background-color: rgb(139, 139, 139);
                }

                &.user_menu__name {
                    @include flex-between();
                    align-items: center;

                    li>a {
                        color: #525252;
                        font-weight: 500;
                    }

                    .user_menu__name--first {
                        @include column();
                        width: fit-content;
                        font-size: smaller;
                    }
                }
            }

            .user_menu__wishlist>li>a,
            .user_menu__enquiries>li>a {
                color: #525252;
                font-weight: 500;
            }
        }

        footer {
            @include align;
            justify-content: center;
            bottom: 0;
            color: black;
            background-color: gray;
            height: 2em;
            left: 0;
            position: fixed;
            font-size: small;
            width: 100%;
        }

        .content {
            padding: 3% 2%;

            .products_all {
                @include column();

                .filters {
                    @include justify();
                    align-items: center;

                    label {
                        margin-right: 0.5em;
                    }

                    input {
                        margin-right: 1.5em;
                    }

                    .price_range__container {
                        @include justify();
                        width: 30%;

                        input[type="range"] {
                            background: none;
                            border: none;
                            box-shadow: none;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                        }
                    }

                    .search_bar {
                        @include align();
                    }
                }

                .products_all__container {
                    display: flex;
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    .product {
                        @include column();
                        margin: 0.8em;
                        background-color: #91a1c2;
                        padding: 0.6em;
                        border-radius: 0.8em;
                        box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.03);
                        }

                        img {
                            align-self: center;
                            width: 24em;
                            border-radius: 0.3em;
                            box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                        }

                        .name__container {
                            @include flex-between();
                            align-items: center;
                            width: 100%;

                            .name_container--spans {
                                width: 50%;
                            }
                        }
                    }
                }
            }

            .messages_container {
                width: 80%;
                margin: 0 auto;

                .messages {
                    width: 100%;

                    .message_container {
                        @include column();
                        align-items: center;
                        border-radius: 1em;
                        background-color: #91a1c2;
                        box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                        margin: 1em;
                        padding: 1em;

                        .message {
                            border-radius: 0.5em;
                            background-color: #7084acbd;
                            box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                            margin: 1em;
                            padding: 1em;
                        }

                        .message_answers {
                            @include column();
                            width: fit-content;
                            border-radius: 1em;
                            box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                            background-color: #888;
                            padding: 0.5em;
                            margin: 0.5em;

                            .answer {
                                box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                                display: inline-block;
                                word-break: break-all;
                                background-color: #676669;
                                color: whitesmoke;
                                border-radius: 0.2em;
                                padding: 0.5em;
                                margin: 0.5em;
                            }
                        }
                    }
                }
            }

            .wishlist_container {
                @include column();
                align-items: center;

                .wishlist_product {
                    @include column();
                    padding: 1em;
                    margin: 1em;
                    background-color: #91a1c2;
                    box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                    border-radius: 0.5em;

                    li,
                    a {
                        padding: 0.4em;
                        text-align: center;
                    }

                    img {
                        padding: 0.4em;
                        border-radius: 0.8em;
                    }
                }
            }

            .span_message {
                color: rgba(57, 180, 9, 0.932);
                text-shadow: 0 1px 2px rgba(41, 41, 53, 0.425);
                position: absolute;
                top: 2.7em;
                width: 100%;
                text-align: center;
                font-size: 1.35rem;
                font-weight: 900;
                z-index: -1;
            }

            .reset_password,
            .login_form,
            .register_form {
                @include column();
                width: 40%;
                margin: auto;

                .password__container,
                .password_confirmation__container {
                    @include align();
                    justify-content: space-between;

                    #show_password_confirmation,
                    #show_password {
                        @include justify();
                        padding: 0.3em;
                        cursor: pointer;
                    }

                    input {
                        width: 100%;
                    }

                }

                form {
                    display: flex;
                    flex-direction: column;

                    label,
                    input:not([type="submit"]) {
                        padding: 0.4em;
                        margin: 0.4em;
                    }
                }

                small {
                    text-align: center;
                }
            }

            .user_settings_container {
                list-style: none;
                padding-top: 5em;
                @include column();
                align-items: center;

                .user_settings__details {
                    @include input_and_button();
                    width: fit-content;
                    margin-bottom: 2em;

                    li {
                        padding: 0.6em;
                    }
                }

                .user_settings--controls {
                    button {
                        margin: 1em;
                    }
                }
            }

            .name_change {
                padding-top: 5em;
                @include column();
                align-items: center;

                .name_change--current {
                    padding: 2em;
                }

                form {
                    width: 20%;
                    @include flex-between();
                    align-items: center;

                    input {
                        margin: 1em;
                    }

                    input[type="submit"] {
                        align-self: flex-end;
                    }
                }
            }

            .home__content {
                padding-top: 3em;
                @include column();

                .products__content {
                    @include column();
                    width: 80%;
                    margin: auto;

                    .product_list--container {
                        @include column();

                        ul.product_list {
                            display: flex;
                            overflow: auto;
                            padding: 0;
                            height: min-content;

                            li.product {
                                @include column();
                                height: fit-content;
                                cursor: pointer;
                                margin: 0.5em 1em;
                                padding: 0.3em;
                                border-radius: 1em;
                                box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                                background-color: #c5c6d6;

                                &.selected {
                                    border: 0.3em solid rgb(0, 128, 128);
                                    box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                                }

                                img {
                                    width: 12em;
                                    border-radius: 1em;
                                    box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                                }

                                .name__container {
                                    width: 50%;
                                    @include column();
                                }
                            }
                        }
                    }
                }
            }

            .product_view__container {
                display: flex;
                padding: 1em;

                .property__details {
                    padding-left: 3em;

                    ul {
                        padding: 0;

                        li {
                            background-color: #91a1c2;
                            padding: 0.14em 0.4em;

                            &:nth-child(odd) {
                                background-color: #9fabb6;
                            }
                        }
                    }
                }

                img {
                    width: 40em;
                    border-radius: 1.4em;
                    box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                }

                .controls__main {
                    @include column();
                    align-items: center;

                    .wishlist__container {
                        width: 50%;
                        @include column();
                        align-items: center;
                    }

                    .image__container--main {
                        margin-bottom: 1.2em;

                        .controls {
                            @include justify();

                            .arrowLeft,
                            .arrowRight {
                                width: 2em;
                                cursor: pointer;
                            }
                        }
                    }

                    .controls_wishlist {
                        @include flex-between();
                        width: 100%;

                        .wishlist__container {
                            align-self: flex-start;
                            width: fit-content;
                            cursor: pointer;

                            .property__added {
                                fill: rgb(0, 4, 255);
                            }
                        }
                    }

                    .enquiry-form__container {
                        @include column();
                        background-color: rgb(166, 186, 204);
                        padding: 0.5em;
                        margin: 2em;
                        border-radius: 1em;
                        box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                        width: 100%;

                        .form-group {
                            margin-bottom: 2em;
                            @include column();
                        }
                    }
                }
            }

            .selection_container {
                display: flex;
                align-items: flex-start;
                overflow: auto;
                margin-bottom: 2em;

                .selected_product {
                    height: fit-content;
                    min-width: 40%;
                    max-width: 50%;
                    padding: 0.3em;
                    margin: 1em;
                    border: 0.2em solid gray;
                    background-color: #c5cbd6;
                    border-radius: 1em;
                    box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);

                    .image__container {
                        @include align();
                        justify-content: center;
                        width: 100%;

                        .arrowLeft,
                        .arrowRight {
                            width: 3em;
                            cursor: pointer;
                        }

                        img {
                            width: 85%;
                            border-radius: 1em;
                            box-shadow: 0 3px 6px rgba(41, 41, 53, 0.808);
                        }
                    }

                    .product_details {
                        font-size: 0.9em;
                        list-style: none;
                        padding-left: 0;
                        @include column();
                        justify-content: space-between;

                        li {
                            @include flex-between();
                            align-items: center;
                            margin-bottom: 0.5em;
                            padding: 0.2em;

                            &.product__company {
                                width: 100%;
                                justify-content: flex-start;
                                align-items: center;

                                img {
                                    width: 2em;
                                    margin-right: 1em;
                                }

                                div {
                                    @include align();
                                    width: 100%;
                                    height: 2.5em;
                                }
                            }

                            &.advantage {
                                background-color: rgba(0, 128, 0, 0.5);
                                border-radius: 0.4em;
                            }

                            &.disadvantage {
                                background-color: rgba(255, 0, 0, 0.5);
                                border-radius: 0.4em;
                            }
                        }
                    }
                }
            }

            .delete_account {
                padding-top: 5em;
                width: 60%;
                margin: 0 auto;

                form {
                    @include column();

                    .confirmation {
                        padding-top: 1em;
                        @include flex-between();
                        align-items: center;

                        .confirmation_action {
                            @include align();
                        }
                    }
                }
            }
        }
    }
}
