body {
    background-color: rgba(244, 161, 161, 0.56);
    margin: 0;
    .reset__success {
        width: 100%;
        text-align: center;
        background-color: green;
    }
    #root {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            form {
                display: flex;
                flex-direction: column;
            }
        }
        .navbar {
            display: flex;
            justify-content: space-between;
        }
    }
}
