body {
    background-color: rgba(244, 161, 161, 0.56);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .errors {
        list-style: none;
        color: red;
    }
}
